.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker__input-container {
  width: 100%;
}

.react-datepicker__input-container input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}

.react-datepicker__input-container input:focus {
  outline: none;
  border-color: #005bff;
}

.react-datepicker {
  border: none;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.react-datepicker__header {
  background-color: #005bff;
  border-bottom: none;
  border-radius: 4px 4px 0 0;
  padding: 10px 0;
}

.react-datepicker__current-month {
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  color: #333;
}

.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range {
  background-color: #005bff;
  color: white;
}

.react-datepicker__day--in-selecting-range:not(.react-datepicker__day--in-range) {
  background-color: #b2d4ff;
}

.react-datepicker__day:hover {
  background-color: #b2d4ff;
}
